.SiteWrapper {
	padding-top: 60px;
	width: 100%;
	background: $grey-5;

	transition: 0.25s opacity ease;

	&--navigation-open {
		opacity: 0.3;
	}

	&--landing {
		color: $dark-grey;
	}

	@at-root .Header + #{&} {
		padding-top: 0;
	}

	@include breakpoint(tablet, up) {
		padding-top: 65px;

		&--navigation-open {
			opacity: 1;
		}

		.SiteHeader--full + & {
			padding-top: 110px;
		}
	}

	@include breakpoint(tablet-landscape, up) {
		.SiteHeader--full + & {
			padding-top: 125px;
		}
	}
}
