-
	var faqConfig = {
		title: 'Legal Care Plus FAQs',
		faqs: [
				{
					question: 'How quickly can you reach me?',
					answer : 'Our roadside recovery record is excellent. RAC patrols fix four out of five vehicles when they\'re called out for roadside assistance and within an average of 30 minutes. Our recovery services aim to reach you quickly and get you back on the road quickly too.'
				},
				{
					question: 'Do all vehicles or members on a policy have to be at the same address?',
					answer : 'Not necessarily. If you have joint or household cover then it covers any named people who live at the address permanently - which could include someone who is away studying at university, or someone who is in the armed forces.'
				},
				{
					question: 'What if I use my car for business?',
					answer : 'If you use your car for business then take a look at RAC Business Cover. This provides more details regarding vehicle breakdown cover for heavy goods vehicles, driving instructors, taxi drivers and other commercial vehicles.'
				},
				{
					question: 'Is roadside assistance included?',
					answer : 'Roadside assistance, also known as Roadside Rescue - is included as standard in all our breakdown policies. This means we offer 24/7 breakdown cover; we\'ll fix your vehicle at the roadside provided you\'re a quarter of a mile away from home address. On average our roadside recovery RAC patrols fix four out of five cars within 30 minutes but if your vehicle cannot be fixed at the roadside our Roadside Rescue cover includes a ten-mile tow to a destination you choose. This could either be to a local garage, back home, or to a place of safety.'
				},
				{
					question: 'What is personal cover?',
					answer : 'Personal cover means you’re covered as a driver or a passenger in any eligible vehicle, so if you\'re in that vehicle and it breaks down, you\'re covered for roadside assistance and recovery services. When researching breakdown quotes you\'ll will have the option of comparing breakdown cover on a personal basis and on a vehicle basis. This means you register cover on a vehicle - or up to three vehicles - and any authorised driver is covered for breakdowns.'
				},
				{
					question: 'Is cheap breakdown cover worth it?',
					answer : 'When comparing breakdown cover you\'ll be looking for the cheapest breakdown cover possible - that\'s understandable. What should be equally important to you is making sure you consider breakdown policies that suit you and your driving lifestyle, and that you\'re adequately covered in the unfortunate event of breakdowns. The RAC does offer cheap breakdown cover from just £5.50 a month - this includes roadside assistance. You can build up your level of cover by adding other options such as At Home, Onward Travel and Roadside Recovery.'
				},
				{
					question: 'Will you attend if I\'m the passenger?',
					answer : 'If you have personal-based membership you will be covered for roadside assistance if the vehicle you\'re travelling in breaks down. We also offer joint membership, which covers you and one other named member as a driver or passenger in any car. Family membership covers you and four named members of your household as a driver or passenger in any vehicle.'
				},
				{
					question: 'Am I charged for callouts?',
					answer : 'If you are an RAC member and have taken out one of our UK breakdown policies then you won\'t be charged for callouts. If you don\'t have breakdown cover with the RAC you can still call us if you need roadside recovery or roadside assistance, but there will be an emergency callout charge. You will be charged for call outs if you exceed your call out limit.'
				},
				{
					question: 'Will you cover my vehicle?',
					answer : 'Yes. As well as personal-based membership the RAC also offers vehicle-based membership. This differs from personal cover in that it provides cover for a specific vehicle in the event of breakdowns. The named vehicle is covered regardless of who is driving it. You can add up to three vehicles to one of our breakdown policies.'
				},
				{
					question: 'What RAC member benefits are there?',
					answer : 'We like to reward our members - as such, RAC Member Benefits provides a range of exclusive offers. These include deals on car hire, airport hotels and parking, hotel stays, tickets for days out and more. When you\'re comparing breakdown cover don\'t forget that we offer extra value through these discounts and benefits.'
				},
				{
					question: 'How far will you tow my car?',
					answer : 'This depends on which of our breakdown policies you have so bear this is mind when comparing breakdown cover. If you have roadside assistance and we can\'t fix your vehicle, we will tow it for up to ten miles to either a local garage or a chosen address.'
				},
			]
	}
	
	
.Strip.Strip--white
	.Container
		include ./_faq
		+Faq(faqConfig)
