-
	var faqConfig = {
	title: 'Pay As You Go FAQs',
	faqs: [
	{
	question: 'Will you come out to me if I breakdown?',
	answer : 'Yes, the RAC is available 24 hours a day, 7 days a week, 365 days a year. If you call us on 0330 159 0445  and tell us your membership number and location, we’ll then confirm the applicable callout charge and send help to you. When you call us, make sure you have a debit or credit card to make the payment.'
	},
	{
	question: 'How do I pay my call-out charge?',
	answer : 'When you call us, we’ll confirm your callout charge and this will need to be paid over the phone by debit or credit card before we’ll send help.'
	},
	{
	question: 'What if you can’t fix my vehicle?',
	answer : 'If you use your car for business then take a look at RAC Business Cover. This provides more details regarding vehicle breakdown cover for heavy goods vehicles, driving instructors, taxi drivers and other commercial vehicles.'
	},
	{
	question: 'Can I cancel my membership?',
	answer : 'Roadside assistance, also known as Roadside Rescue - is included as standard in all our breakdown policies. This means we offer 24/7 breakdown cover; we\'ll fix your vehicle at the roadside provided you\'re a quarter of a mile away from home address. On average our roadside recovery RAC patrols fix four out of five cars within 30 minutes but if your vehicle cannot be fixed at the roadside our Roadside Rescue cover includes a ten-mile tow to a destination you choose. This could either be to a local garage, back home, or to a place of safety.'
	},
	{
	question: 'What happens if I’m towing a caravan or a vehicle?',
	answer : 'Personal cover means you’re covered as a driver or a passenger in any eligible vehicle, so if you\'re in that vehicle and it breaks down, you\'re covered for roadside assistance and recovery services. When researching breakdown quotes you\'ll will have the option of comparing breakdown cover on a personal basis and on a vehicle basis. This means you register cover on a vehicle - or up to three vehicles - and any authorised driver is covered for breakdowns.'
	}
	]
	}


.Strip.Strip--white
	.PAYGFaq
		include ./_faq-other-design
		+Faq(faqConfig)
