block sub-content	
	.SiteWrapper.SiteWrapper--large-header.SiteWrapper--landing(style="background-color: white;")
		include ../../../components/Banners/_banner-payg
		.Content
			.WebPartWrapper
				include ../../../components/PAYG/_what-is-payg
			.WebPartWrapper
				include ../../../components/PAYG/_payg-benefits
			.WebPartWrapper
				include ../../../components/Faqs/_faqs-payg
	include ../../../components/Site/_SiteFooter
