-
	var offerPackages = [
		{
			title: 'Personal Breakdown cover',
			description: 'The <strong>peace of mind</strong> that you\'re covered in any vehicle as a driver or a passenger.',
			icon: 'people',
			flag: true,
			flagHtml: 'SALE <span class="medium">WHOOP</span> WHOOP',
			contents: [
				{
					icon: 'tick',
					title: '<strong>Roadside cover</strong> - Included as standard with the option to add more cover if you need it, including <strong>FREE</strong> Onward travel &amp; Key Replace. Cover available for up to 5 people.',
				},
			],
			showSuitability: false,
			suitability: [
				'You drive more than one vehicle',
				'You want peace of mind in any vehicle you\'re in'
			],
			monthlyPrice: 8,
			annualPrice: 59,
			url: '/breakdown-cover/join-uk-breakdown?version=pbm-only'
		},
		{
			title: 'Vehicle Breakdown cover',
			description: 'Cover for your vehicle, whoever is driving',
			icon: 'vehicle',
			flag: false,
			flagHtml: '',
			contents: [
				{
					icon: 'tick',
					title: '<strong>Roadside cover</strong> - Included as standard with the option to add more cover if you need it, including <strong>FREE</strong> Onward travel &amp; Key Replace. Cover available for up to 3 vehicles.',
				},
			],
			showSuitability: false,
			suitability: [
				'You drive just one vehicle',
				'Your household shares up to three vehicles'
			],
			monthlyPrice: '4.50',
			annualPrice: 34.99,
			url: '/breakdown-cover/join-uk-breakdown?version=vbm-only'
		},
	]
