-
	var products = [
		{
			title: 'Roadside cover',
			description: '',
			tooltip: 'We\'ll fix your vehicle wherever you break down in the UK as long as you\'re more than &#188; mile from your home. If we can\'t fix your vehicle at the roadside, we\'ll take you and your vehicle to a garage or any other destination within 10 miles.',
		},
		{
			title: 'National recovery',
			description: '',
			tooltip: 'If we can\'t fix your vehicle at the roadside, we\'ll take you and your vehicle anywhere in the UK, as long as you\'re more than &#188; mile from your home. If you break down as a result of a tyre fault and are not carrying a spare/repair equipment we will only tow you 10 miles.',
		},
		{
			title: 'Onward travel',
			description: '',
			tooltip: 'We will provide a small hatchback for up to 3 days (age and licence restrictions apply) or up to £150 per person (£500 total) for alternative transport/hotel.',
		},
		{
			title: 'At home cover',
			description: '',
			tooltip: 'We\'ll come to your rescue if you break down at or within &#188; mile of your home. If we can\'t fix your vehicle we\'ll tow you to a garage or any other destination within 10 miles.',
		},
		{
			title: 'Key replace',
			description: '',
			tooltip: 'If your vehicle or house keys are lost, stolen or accidentally broken we\'ll cover up to £1500 to replace them, fit new locks, and reset your immobiliser/alarm. We’ll also cover the cost of a hire car or alternative transport if you can’t use your vehicle. Cover starts 14 days from purchase.',
		},
	]
