ul.LandingProgressBar
  li.LandingProgressBar__item.LandingProgressBar__item--active
    span.LandingProgressBar__text Choose your cover type
  li.LandingProgressBar__item
    span.LandingProgressBar__text Build cover package
  li.LandingProgressBar__item
    span.LandingProgressBar__text Enter details
  li.LandingProgressBar__item
    span.LandingProgressBar__text Make payment
