link(rel="stylesheet" href="/static/styles/components/StickyMessageBottom.css")

div.StickyMessageBottom
    div.Container
        span.StickyMessageBottom__text Build the cover that's right
        a.StickyMessageBottom__button(class='Btn Btn--gradient Btn--chevron-right' href='#') Build your cover