link(rel="stylesheet" href="/static/styles/components/StickyMessage.css")
.StickyMessage.medium(data-component="sticky-message")
  .Container
    span(style='color: #ef6c00;') OFFER&nbsp;&nbsp;
    | FREE Onward Travel and 
    span.StickyMessage__asterisk-wrapper Key Replace*
