-
	var serpentinesConfig = {
		items: [
			{
				title: 'Fix you at the roadside',
				imagePath: '/assets/reasons-to-believe/1.jpg',
				description: 'We&apos;ll always try to fix you first; in fact, we fix 4 out of 5 cars at the roadside, on average in 30 mins.',
				buttonText: '',
				buttonURL: '',
			},
			{
				title: 'Expert mechanics',
				imagePath: '/assets/reasons-to-believe/2.jpg',
				description: 'Our UK wide mechanics have been with us for 12 years on average, and carry the latest tools and technology to fix your car.',
				buttonText: 'Learn more',
				buttonURL: '/',
			},
			{
				title: 'No hidden costs',
				imagePath: '/assets/reasons-to-believe/3.jpg',
				description: 'All roadside labour and fitting costs are included, so there are no nasty surprises',
				buttonText: '',
				buttonURL: '',
			},
			{
				title: 'Get you to a garage',
				imagePath: '/assets/reasons-to-believe/4.jpg',
				description: 'If your car can&apos;t be fixed we&apos;ll take you to a garage, and organise a taxi to get you home',
				buttonText: 'Learn more',
				buttonURL: '/',
			},
			{
				title: 'Get you moving again',
				imagePath: '/assets/reasons-to-believe/5.jpg',
				description: 'Choose our Onward Travel option, and you&apos;ll get a hire car, alternative transport or even overnight accommodation if your car&apos;s off the road',
				buttonText: '',
				buttonURL: '',
			},
		]
	}
