-
	var coverBundlesConfig = {
		carouselEnabled: true,
		items: [
			{
				monthlyPrice: '4.50',
				annualPrice: '34.99',
				products: [
					{
						title: 'Roadside cover',
						included: true
					},
					{
						title: 'Cover in any vehicle',
					},
					{
						title: 'National recovery',
					},
					{
						title: 'Onward travel',
					},
					{
						title: 'At home cover',
					},
				],
				dialogContent: '<h4>Modal content 1</h4><p>Paragraph text</p>',
			},
			{
				monthlyPrice: '8',
				annualPrice: '59',
				products: [
					{
						title: 'Roadside cover',
						included: true
					},
					{
						title: 'Cover in any vehicle',
						included: true
					},
					{
						title: 'National recovery',
					},
					{
						title: 'Onward travel',
					},
					{
						title: 'At home cover',
					},
				],
				dialogContent: '<h4>Modal content 2</h4><p>Paragraph text</p>',
			},
			{
				monthlyPrice: '12.50',
				annualPrice: '119',
				products: [
					{
						title: 'Roadside cover',
						included: true
					},
					{
						title: 'Cover in any vehicle',
						included: true
					},
					{
						title: 'National recovery',
						included: true
					},
					{
						title: 'Onward travel',
						included: true
					},
					{
						title: 'At home cover',
					},
				],
				dialogContent: '<h4>Modal content 3</h4><p>Paragraph text</p>',
			},
			{
				monthlyPrice: '13.50',
				annualPrice: '129',
				products: [
					{
						title: 'Roadside cover',
						included: true
					},
					{
						title: 'Cover in any vehicle',
						included: true,
						free: true
					},
					{
						title: 'National recovery',
						included: true
					},
					{
						title: 'Onward travel',
						included: true
					},
					{
						title: 'At home cover',
						included: true
					},
				],
				dialogContent: '<h4>Modal content 4</h4><p>Paragraph text</p>',
			},
		]
	}
