.Banner.Banner--background.Banner--thin-pad(style="background-image: url('/assets/lcp/image-legalcareplus-fade-transparent.png');")
	.Banner__inner
		.LcpLandingBanner__inner-wrapper
			.LcpLandingBanner__text-wrapper
				h1.LcpLandingBanner__heading Legal Care Plus
				h3.LcpLandingBanner__sub-heading Protection for just £15 a year
				ul.LcpLandingBanner__bullets
					li.LcpLandingBanner__bullet Up to &pound;100,000 cover for legal expenses
					li.LcpLandingBanner__bullet 24/7 advice on personal legal matters within the UK
				.LcpLandingBanner__price-button-wrapper
					.LcpLandingBanner__price
						span.LcpLandingBanner__price-actual &pound;15
						span.LcpLandingBanner__price-frequency per year
					.LcpLandingBanner__button
						a.Btn.Btn--gradient.Btn--chevron-right.LcpLandingBanner__button-link(href="") Buy now
			.LcpLandingBanner__image-wrapper
				img.LcpLandingBanner__image(src="/assets/lcp/image-legalcareplus.jpg")
