.Banner.Banner--background.Banner--thin-pad.LcpConfirmation(style="background-image: url('/assets/landing-page/whatever-vehicle.jpg'); color: white;")
	.Banner__inner
		.LcpConfirmation__text-wrapper
			h1.LcpConfirmation__heading Confirmation
			h2.LcpConfirmation__sub-heading Thanks, Joe. You've purchased <strong>Legal Care Plus</strong>.
			p.LcpConfirmation__body We've sent you an email confirming your purchase to <strong>test@test.com</strong>. It contains essential information on your policy and a link to your online documents. If you haven't received it, please check your junk or spam folder
