.Banner.Banner--background.Banner--thin-pad.LcpConfirmationBanner(style="background-image: url('/assets/lcp/image-legalcareplus-fade-transparent.png'); color: white;")
	.Banner__inner
		.LcpConfirmationBanner__text-wrapper
			h1.LcpConfirmationBanner__heading Confirmation
			h2.LcpConfirmationBanner__sub-heading Thanks, Joe. You've purchased <strong>Legal Care Plus</strong>.
			p.LcpConfirmationBanner__body We've sent you an email confirming your purchase to <strong>test@test.com</strong>. It contains essential information on your policy and a link to your online documents. If you haven't received it, please check your junk or spam folder
