link(rel="stylesheet" href="/static/styles/components/CTA.css")
link(rel="stylesheet" href="/static/styles/homepage-banner-styles.css")
.Banner.Banner--blazy(data-src='/assets/landing-page/hero.jpg', data-src-small="https://via.placeholder.com/555x280", data-component="blazy")
	.Banner__inner
		.row
			.col-xs-12.col-sm-7.col-md-6.col-lg-6
				.CTA
					h1.CTA__title UK Breakdown
					h2.CTA__caption Build your breakdown cover from just <span style="color: #F95108;">&pound;5</span>
					p.CTA__description The RAC covers you as a driver or passenger, for complete peace of mind in any car
					a.CTA__btn.Btn.Btn--chevron-right(href="#") <span class="CTA__btn-text">Build your cover</span>
