link(rel="stylesheet" href="/static/styles/components/CTA.css")

.Banner__banner-gradient
.Banner.Banner--background-image.Banner--payg(style="background-image: url('../../../assets/landing-page/Summer_image1500x500.jpg');")
	.Banner__inner
		.row
			.col-xs-12.col-sm-7.col-md-6.col-lg-5
				.CTA
					img(src='/assets/landing-page/kia-logo.png' alt="Kia Logo")
					h1.double-pica(style="margin: .5em 0 .2em 0")
						span.Banner__header--orange RAC&#0160;
						| Pay As You Go
					p.pica(style="line-height: 1.2em; margin-bottom: 1.7em") A different way to be an RAC member - just pay when you need us
					a.CTA__btn.Btn.Btn--green.Btn--chevron-right.pica(href="#") Buy for £24 per year
