.Banner.Banner--background.Banner--thin-pad(style="background-image: url('/assets/landing-page/whatever-vehicle.jpg');")
	.Banner__inner
		div.canon(style="text-align: center;")
			h1.brevier(style="text-transform: uppercase; margin-bottom: .5em;") Breakdown Cover
			p(style="margin: 0; font-size: .5em;") <strong style="display: block; color: #cc0001; text-transform: uppercase; font-weight: bold; font-size: 2.5em;">Save &pound;30*</strong> with <u><strong>FREE</strong></u> At Home &amp; Key Replace
