.Banner.Banner--background-image.Banner--thin-pad(style="background-image: url('/assets/landing-page/Summer_image1500x500.jpg');")
	.Banner__inner
		.Banner__half-width
			h1.Banner__header Don't let a breakdown spoil your summer
			p.Banner__sub-header Join now and get FREE Onward travel
			a.Banner__btn.Btn.Btn--gradient.Btn--chevron-right(href='/breakdown-cover/uk-breakdown') Join now