.Banner.Banner--background
	.Banner__background(data-component="responsive-image" data-img="/assets/landing-page/whatever-vehicle-2560-w.jpg" data-min-size="320" data-loaded-class="Banner__background--loaded" data-img-type="background")
	.Banner__inner
		h2.text-shadow(style="text-align: center; color: #fff;") Breakdown cover for whatever vehicle you have
		h3.text-shadow(style="text-align: center; color: #fff;") We don't just do cars. We do <u>motorbikes</u> and <u>caravans</u> too.
		p.text-shadow(style="text-align: center; color: #fff;") There are many different types of breakdown cover available from the RAC, so you can have peace of mind whatever you drive.
