link(rel="stylesheet" href="/static/styles/components/CTA.css")
link(rel="stylesheet" href="/static/styles/homepage-banner-styles.css")
.Banner.Banner--blazy.Banner--shallow(data-src='/assets/landing-page/Memebersbenifit.jpg', data-src-small="https://via.placeholder.com/555x280", data-component="blazy")
	.Banner__inner
		.row
			.col-xs-12.col-sm-7.col-md-6.col-lg-6
				.CTA
					h2.CTA__caption Much more than<br>breakdown cover
					p.CTA__description Discounts on driving. Savings on insurance. Deals on days out. As an RAC member, you’ll have access to exclusive offers.
