style
	include ../../../../dist/static/styles/components/OfferBanner.css
.OfferBanner
	.OfferBanner__inner.Container
		.OfferBanner__free Join now and get <strong>FREE</strong> Onward travel and <strong>FREE</strong> Key replace on selected <h1 class="OfferBanner__breakdown">breakdown <span class="OfferBanner__asterisk-wrapper">cover <sup>*</sup></span></h1>

