style
	include ../../../../dist/static/styles/components/OfferBanner.css
.OfferBanner.OfferBanner--bg(style="background-image: url('/assets/frost.jpg'); background-size: cover; background-position: center center;'")
	.OfferBanner__inner.Container(style="padding-bottom: 20px;")
		.OfferBanner__free.medium <span style="color: #444444;">Don&#39;t get left out in the cold</span><br><h1 style="color: #E6231E;" class="OfferBanner__breakdown">breakdown cover</h1><span style="color: #E6231E;"> with <span class="OfferBanner__asterisk-wrapper">FREE at Home over <sup>*</sup></span></span><div style="font-weight: normal; font-size: 14px; color: #444444; line-height: 14px; margin-top: 10px;">Selected cover levels. New customers only.</div>

