<div class="Basket" #basket [ngClass]="Classes" [class.Basket--discount]="(PricePrefix$ | async) || (PriceSuffix$ | async)">
    <div class="Basket__overlay" (click)="ToggleBasket($event)"></div>
	<div class="Basket__eagle-eye-token-header" *ngIf="AllowPaymentByEagleEyeTokens">{{ GetEagleEyeTokenHeaderState(JourneyContent$ | async, EagleEyeState$ | async) }}</div>
	<header 
		class="Basket__header" 
		(click)="ToggleBasket($event)" 
		[ngStyle]="{ 'background-color': (Content$ | async).HeadersBackgroundColour }">
		<div class="Basket__pricing">
			<div class="Basket__price">
				<div class="Basket__total">
					<svg version="1.1" viewBox="0 0 35 32" xmlns="http://www.w3.org/2000/svg"><path d="m33.012 5.4688h-24.619l-1.0973-4.0058c-0.23346-0.87083-1.0272-1.463-1.9261-1.463h-3.3736c-1.109 0-1.9961 0.89405-1.9961 1.9855 0 1.103 0.89884 1.9855 1.9961 1.9855h1.8444l5.1012 18.566c0.23346 0.87083 1.0272 1.463 1.9261 1.463h18.385c0.91051 0 1.716-0.61538 1.9378-1.4978l3.7471-14.56c0.15175-0.59216 0.023346-1.2308-0.36187-1.7184-0.36187-0.47605-0.94553-0.75472-1.5642-0.75472z"/><path d="m13 26c-1.6525 0-3 1.3475-3 3s1.3475 3 3 3 3-1.3475 3-3-1.3475-3-3-3z"/><path d="m28 26c-1.6525 0-3 1.3475-3 3s1.3475 3 3 3 3-1.3475 3-3-1.3347-3-3-3z"/></svg>
					{{ (PricePrefix$ | async) ? (PricePrefix$ | async) : (Content$ | async).BasketTotalTitle }}
				</div>
				<ukbc-basket-price [pricing$]="Pricing$" [journeyContent]="JourneyContent$ | async"></ukbc-basket-price>
				<div *ngIf="PriceSuffix$ | async" class="Basket__suffix" [innerHTML]="PriceSuffix$ | async"></div>
			</div>
			<ukbc-basket-token 
				class="Basket__token" 
				*ngIf="AllowPaymentByEagleEyeTokens" 
				[pricing$]="Pricing$" 
				[journeyContent]="JourneyContent$ | async" 
				[eagleEyeTokenValue]="(EagleEyeState$ | async).tokenValue">
			</ukbc-basket-token>
		</div>
		<ukbc-payment-frequency-radio-buttons class="Basket__frequency" *ngIf="!(JourneyContent$ | async).HideBasketToggle"></ukbc-payment-frequency-radio-buttons>
		<button class="Basket__toggle" type="button"></button>
		<div class="Basket__icon">
			<svg version="1.1" viewBox="0 0 35 32" xmlns="http://www.w3.org/2000/svg"><path d="m33.012 5.4688h-24.619l-1.0973-4.0058c-0.23346-0.87083-1.0272-1.463-1.9261-1.463h-3.3736c-1.109 0-1.9961 0.89405-1.9961 1.9855 0 1.103 0.89884 1.9855 1.9961 1.9855h1.8444l5.1012 18.566c0.23346 0.87083 1.0272 1.463 1.9261 1.463h18.385c0.91051 0 1.716-0.61538 1.9378-1.4978l3.7471-14.56c0.15175-0.59216 0.023346-1.2308-0.36187-1.7184-0.36187-0.47605-0.94553-0.75472-1.5642-0.75472z"/><path d="m13 26c-1.6525 0-3 1.3475-3 3s1.3475 3 3 3 3-1.3475 3-3-1.3475-3-3-3z"/><path d="m28 26c-1.6525 0-3 1.3475-3 3s1.3475 3 3 3 3-1.3475 3-3-1.3347-3-3-3z"/></svg>			
			<span class="Basket__item-count">{{ NumberOfSelectedProducts }}</span>
		</div>
	</header>
	<div class="EaglePartPay" *ngIf="AllowPaymentByEagleEyeTokens && !!(JourneyContent$ | async).EagleEyeTokensPartPayModalContent">
		<a class="EaglePartPay__link LinkBtn LinkBtn--blue" (click)="OpenPartPayInfoDialog()">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M18.7 5c-.9-1.5-2.1-2.7-3.6-3.6A9.4 9.4 0 0 0 10 0C8.2 0 6.5.4 5 1.3A11 11 0 0 0 1.3 5 9.6 9.6 0 0 0 0 10c0 1.8.4 3.5 1.3 5s2.1 2.7 3.6 3.6c1.5.9 3.2 1.3 5 1.3 1.8 0 3.5-.4 5-1.3s2.7-2.1 3.6-3.6a9.6 9.6 0 0 0 1.3-5c.2-1.8-.2-3.5-1.1-5zM8.3 2.5l.1-.3.3-.1h2.5l.3.1.1.3v2.1l-.1.3-.2.1H8.7l-.2-.1-.2-.3V2.5zm5 13.7l-.1.3-.3.1H7.1l-.3-.1-.1-.3v-2.1l.1-.3.3-.1h1.3V9.6H7.1l-.3-.1-.1-.3V7.1l.1-.3.3-.1h4.2l.3.1.1.3v6.7H13l.3.1.1.3v2z"/></svg>
			{{ (JourneyContent$ | async).EagleEyeTokensPartPayModalLinkText }}
		</a>
	</div>
	<div class="Basket__info" *ngIf="IsMonthly && (JourneyContent$ | async).BasketPricesModalContent && (JourneyContent$ | async).BasketPricesModalTrigger">
		<a class="Basket__info-link LinkBtn medium" (click)="OpenBasketPricesDialog()">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M18.7 5c-.9-1.5-2.1-2.7-3.6-3.6A9.4 9.4 0 0 0 10 0C8.2 0 6.5.4 5 1.3A11 11 0 0 0 1.3 5 9.6 9.6 0 0 0 0 10c0 1.8.4 3.5 1.3 5s2.1 2.7 3.6 3.6c1.5.9 3.2 1.3 5 1.3 1.8 0 3.5-.4 5-1.3s2.7-2.1 3.6-3.6a9.6 9.6 0 0 0 1.3-5c.2-1.8-.2-3.5-1.1-5zM8.3 2.5l.1-.3.3-.1h2.5l.3.1.1.3v2.1l-.1.3-.2.1H8.7l-.2-.1-.2-.3V2.5zm5 13.7l-.1.3-.3.1H7.1l-.3-.1-.1-.3v-2.1l.1-.3.3-.1h1.3V9.6H7.1l-.3-.1-.1-.3V7.1l.1-.3.3-.1h4.2l.3.1.1.3v6.7H13l.3.1.1.3v2z"/></svg>
			{{ (JourneyContent$ | async).BasketPricesModalTrigger }}
		</a>
	</div>
	<div class="Basket__comparison-saving" *ngIf="(JourneyContent$ | async).UseComparisonPrice && (ComparisonPriceSaving$ | async)">{{ ComparisonPriceSaving$ | async }}</div>
	<div class="Basket__items-container" #itemsContainer [ngStyle]="{ 'max-height': ItemsContainerMaxHeight }">
		<ukbc-basket-items 
			class="Basket__items" 
			(scrollBasketToBottom)="onScrollBasketToBottom()" 
			(addProduct)="AddProduct($event)" 
			(removeProduct)="RemoveProduct($event)" 
			[historicalProducts$]="HistoricalProducts$" 
			[historicalProductsLength]="(HistoricalProducts$ | async).length"
			[selectedProductCodes$]="SelectedProductCodes$" 
			[selectedProducts$]="SelectedProducts$" 
			[allProducts]="AllProducts" 
			[showSwitches]="(Step$ | async)?.data.BasketSwitches" 
			[showHistorical]="(Step$ | async)?.data.BasketHistoricalItems" 
			[basisValues]="BasisValues$ | async"
			[hideBasisItem]="BasisItemHidden$ | async" 
			[pricing]="Pricing$ | async" 
			[availableParentProducts]="AvailableParentProducts$ | async">
		</ukbc-basket-items>
	</div>
</div>
