block sub-content	
	.SiteWrapper.SiteWrapper--large-header.SiteWrapper--landing(style="background-color: white;")
		include ../../../components/Banners/_banner-background-lcp-landing
		.Content
			.Content__main
				.WebPartWrapper
					include ../../../components/LCP/_lcp-landing-body
				.WebPartWrapper
					include ../../../components/LCP/_lcp-motor-legal
			aside.Content__sidebar
		.WebPartWrapper
			include ../../../components/Faqs/_faqs-lcp
	include ../../../components/Site/_SiteFooter
