extends _export-homepage-master

block content
	link(rel="stylesheet" href="/static/styles/homepage-banner-styles.css")
	.Banner.Banner--background-image.Banner--thin-pad.Banner--white-text(style="background-image: url('../../../assets/landing-page/Summer_image1500x500.jpg');")
		.Banner__inner
			.Banner__half-width
				h1.Banner__header Don't let a breakdown spoil your summer
				p.Banner__sub-header
					| Join now and get 
					br
					strong FREE
					|  Onward travel and 
					br
					strong FREE
					|  Key replace
					sup *
				a.Banner__btn.Btn.Btn--gradient.Btn--chevron-right(href="/breakdown-cover/uk-breakdown") Join now



