extend ../_export-master

block content
	.SiteWrapper(style="padding-top: 0")
		.LandingHeader
			include ../../../components/Banners/_OfferBanner

		div(style="position: relative;")
			include ../../../components/Landing/_landing-progress-bar

		include ../vbm-pbm-export

		div(style="padding-bottom: 20px")
			include ../../../components/_seo-paragraph
