extend ../../components/_masterSimpleNav
block content
	include ../../components/Site/_site-header
		link(rel="stylesheet" href="/static/styles/pay-by-link/styles.css")

	.PayByLink__body
		.PayByLink__content

			ul.PayByLink__list
				li Sorry, this link has expired.
				li For security reasons, this link is only valid for 24 hours and can only be used once. Unfortunately, it has now expired.
				li Don't worry - you can still make your payment by calling our team on <a class="PayByLink__phone-number" href='tel:0333 202 3066'>0333 202 3066</a>
				li That way, you'll make sure you're still covered by the UK's most experienced breakdown provider.
