extend ../../components/_masterSimpleNav
block content
	include ../../components/Site/_site-header
		link(rel="stylesheet" href="/static/styles/pay-by-link/styles.css")

	.PayByLink__body
		.PayByLink__content.PayByLink__content--iframe
		
			ul.PayByLink__list
				li Your card details
				li Enter your card details to make sure you're covered by the UK's most experienced breakdown provider.			
					
			p iframe here
