extend ../../components/_masterSimpleNav
block content
	include ../../components/Site/_site-header
		link(rel="stylesheet" href="/static/styles/pay-by-link/styles.css")

	.PayByLink__body
		.PayByLink__content
			
			ul.PayByLink__list
				li You've already paid for your breakdown cover.
				li You've already made a successful payment, so there's nothing left to do.
				li If you'd like to speak to the RAC team about this, please call <a class="PayByLink__phone-number" href='tel:0333 202 3066'>0333 202 3066</a>
