link(rel="stylesheet" href="/static/styles/components/QuoteCTA.css")
link(rel="stylesheet" href="/static/styles/components/CoverOptions.css")
.CoverOptions
	.Container
		h2.CoverOptions__title Cover options
		p.CoverOptions__paragraph We offer a range of cover options for you to pick and choose from
		.CoverOptions__row.row
			.CoverOption.col-xs-6.col-md-2
				.CoverOption__icon
					include ../../../assets/cover-options/twenty-four-seven.svg
				p.CoverOption__description 24/7 roadside assistance
			.CoverOption.col-xs-6.col-md-2
				.CoverOption__icon
					include ../../../assets/cover-options/pin.svg
				p.CoverOption__description Unlimited tow to your destination
			.CoverOption.col-xs-6.col-md-2
				.CoverOption__icon
					include ../../../assets/cover-options/car.svg
				p.CoverOption__description Replacement hire car or transport
			.CoverOption.col-xs-6.col-md-2
				.CoverOption__icon
					include ../../../assets/cover-options/person.svg
				p.CoverOption__description Cover for you in any vehicle
			.CoverOption.col-xs-6.col-md-2
				.CoverOption__icon
					include ../../../assets/cover-options/keys.svg
				p.CoverOption__description Key replaced if lost or damaged
			.CoverOption.col-xs-6.col-md-2
				.CoverOption__icon
					include ../../../assets/cover-options/house.svg
				p.CoverOption__description Breakdown at home
		a.Btn.Btn--gradient.Btn--chevron-right(href='#')
			span.QuoteCTA__btn-text Start your quote
			span.QuoteCTA__btn-suffix No need to register
