.Cover__container
	.Cover.Cover--vertical(style="color: #9cb6c5;")
		.Cover__inner-container
			.Cover__ribbon.Cover__ribbon--hidden
			.Cover__content
				h1.Cover__price &pound;8 <span class="Cover__frequency">per month</span>
				h2.Cover__name Rescue Essential
				ul.Cover__feature-list(style="color: #9cb6c5;")
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text You're covered in any car
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text At the roadside
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text At home
					li.Cover__feature-item 
						span.Cover__feature-text Unlimited callouts
					li.Cover__feature-item 
						span.Cover__feature-text National recovery
					li.Cover__feature-item 
						span.Cover__feature-text Replacement hire car
			.Cover__buttons
				button.Cover__more-link.Cover__more-link--mobile.Modal__trigger(type="button" data-modal="1" data-analytics="findoutmore_bronze") More info
				button.Cover__more-link.Cover__more-link--desktop.Modal__trigger(type="button" data-modal="1" data-analytics="findoutmore_bronze") Find out more
				a.Cover__btn.Cover__btn--mobile.Btn.Btn--gradient.Btn--chevron-right(href="www.rac.co.uk/breakdown/uk-breakdown/add-members?intcid=ukbdhpbr") Select
				a.Cover__btn.Cover__btn--desktop.Btn.Btn--gradient.Btn--chevron-right(href="www.rac.co.uk/breakdown/uk-breakdown/add-members?intcid=ukbdhpbr") Select package
	.Cover.Cover--vertical.Cover--ribbon(style="color: #9cb6c5;")
		.Cover__inner-container
			.Cover__ribbon Save &pound;24
			.Cover__content
				h1.Cover__price &pound;8 <span class="Cover__frequency">per month</span>
				h2.Cover__name Rescue Essential
				ul.Cover__feature-list(style="color: #9cb6c5;")
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text You're covered in any car
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text At the roadside
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text At home
					li.Cover__feature-item 
						span.Cover__feature-text Unlimited callouts
					li.Cover__feature-item 
						span.Cover__feature-text National recovery
					li.Cover__feature-item 
						span.Cover__feature-text Replacement hire car
			.Cover__buttons
				button.Cover__more-link.Cover__more-link--mobile.Modal__trigger(type="button" data-modal="1" data-analytics="findoutmore_bronze") More info
				button.Cover__more-link.Cover__more-link--desktop.Modal__trigger(type="button" data-modal="1" data-analytics="findoutmore_bronze") Find out more
				a.Cover__btn.Cover__btn--mobile.Btn.Btn--gradient.Btn--chevron-right(href="www.rac.co.uk/breakdown/uk-breakdown/add-members?intcid=ukbdhpbr") Select
				a.Cover__btn.Cover__btn--desktop.Btn.Btn--gradient.Btn--chevron-right(href="www.rac.co.uk/breakdown/uk-breakdown/add-members?intcid=ukbdhpbr") Select package
	.Cover.Cover--vertical.Cover--ribbon(style="color: #759cad;")
		.Cover__inner-container
			.Cover__ribbon Save &pound;24
			.Cover__content
				h1.Cover__price &pound;8 <span class="Cover__frequency">per month</span>
				h2.Cover__name Rescue Essential
				ul.Cover__feature-list(style="color: #759cad;")
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text You're covered in any car
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text At the roadside
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text Free At home cover
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text Unlimited callouts
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text National recovery
					li.Cover__feature-item 
						span.Cover__feature-text Replacement hire car
			.Cover__buttons
				button.Cover__more-link.Cover__more-link--mobile.Modal__trigger(type="button" data-modal="2" data-analytics="findoutmore_silver") More info
				button.Cover__more-link.Cover__more-link--desktop.Modal__trigger(type="button" data-modal="2" data-analytics="findoutmore_silver") Find out more
				a.Cover__btn.Cover__btn--mobile.Btn.Btn--shadow.Btn--gradient.Btn--chevron-right(href="www.rac.co.uk/breakdown/uk-breakdown/add-members?intcid=ukbdhpsilv") Select
				a.Cover__btn.Cover__btn--desktop.Btn.Btn--shadow.Btn--gradient.Btn--chevron-right(href="www.rac.co.uk/breakdown/uk-breakdown/add-members?intcid=ukbdhpsilv") Select package
	.Cover.Cover--vertical.Cover--ribbon(style="color: #417791;")
		.Cover__inner-container
			.Cover__ribbon Save &pound;30
			.Cover__content
				h1.Cover__price &pound;8 <span class="Cover__frequency">per month</span>
				h2.Cover__name Rescue Essential
				ul.Cover__feature-list(style="color: #417791;")
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text You're covered in any car
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text At the roadside
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text Free At home cover
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text Unlimited callouts
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text National recovery
					li.Cover__feature-item.Cover__feature-item--included
						span.Cover__feature-text Replacement hire car
			.Cover__buttons
				button.Cover__more-link.Cover__more-link--mobile.Modal__trigger(type="button" data-modal="3" data-analytics="findoutmore_gold") More info
				button.Cover__more-link.Cover__more-link--desktop.Modal__trigger(type="button" data-modal="3" data-analytics="findoutmore_gold") Find out more
				a.Cover__btn.Cover__btn--mobile.Btn.Btn--shadow.Btn--gradient.Btn--chevron-right(href="www.rac.co.uk/breakdown/uk-breakdown/add-members?intcid=ukbdhpgold") Select
				a.Cover__btn.Cover__btn--desktop.Btn.Btn--shadow.Btn--gradient.Btn--chevron-right(href="www.rac.co.uk/breakdown/uk-breakdown/add-members?intcid=ukbdhpgold") Select package
				