ul.SocialButtons
	li.SocialButtons__item
		a.SocialButtons__link.SocialButtons__link--facebook(href="https://www.facebook.com/rac" target="_blank")
			include ../../assets/facebook.svg
			span.SocialButtons__text Facebook
	li.SocialButtons__item
		a.SocialButtons__link.SocialButtons__link--twitter(href="https://twitter.com/TheRAC_UK" target="_blank")
			include ../../assets/twitter.svg
			span.SocialButtons__text Twitter
	li.SocialButtons__item
		a.SocialButtons__link.SocialButtons__link--google(href="https://plus.google.com/101372652808939096210" target="_blank")
			include ../../assets/google-plus.svg
			span.SocialButtons__text Goolge+
	li.SocialButtons__item
		a.SocialButtons__link.SocialButtons__link--youtube(href="https://youtube.com/user/RACBreakdown" target="_blank")
			include ../../assets/youtube.svg
			span.SocialButtons__text YouTube
	li.SocialButtons__item
		a.SocialButtons__link.SocialButtons__link--linkedin(href="https://linkedin.com/company/rac" target="_blank")
			include ../../assets/linkedin.svg
			span.SocialButtons__text LinkedIn
