block sub-content	
	.SiteWrapper.SiteWrapper--large-header.SiteWrapper--landing
		include ../../../components/Banners/_banner-background-lcp-confirmation
		.WebPartWrapper
			include ../../../components/_your-policy
		.WebPartWrapper(style="background-color: white;")
			include ../../../components/_legal-matters
	include ../../../components/Site/_SiteFooter
