- items = ['Breakdown Cover', 'Insurance', 'Route Planner', 'Shop', 'Buying a Car', 'Car Care', 'News & Advice', 'MyRac'];

button.SiteNavigation__toggle(type="button")
	.SiteNavigation__toggle-background
nav.SiteNavigation(data-component="site-navigation")
	ul.SiteNavigation__list
		each item in items
			li.SiteNavigation__item
				a.SiteNavigation__link(href="google.com")= item
				button.SiteNavigation__sub-level-toggle("type"="button")
				.SiteNavigation__sub-wrapper
					.SiteNavigation__sub-wrapper-inner
						ul.SiteNavigation__sub-list
							- var i = 0;
							while i < 10
								li.SiteNavigation__sub-item
									a.SiteNavigation__sub-link(href="google.com")= item
									- i++
						ul.SiteNavigation__sub-list
							- var j = 0;
							while j < 10
								li.SiteNavigation__sub-item
									a.SiteNavigation__sub-link(href="google.com")= item
									- j++
						.SiteNavigation__feature
							img.SiteNavigation__feature-image(src="//placehold.it/300x100")
							h3.SiteNavigation__feature-title UK Breakdown Cover
							p.SiteNavigation__feature-description Join the RAC and get breakdown cover from &pound;5.50 a month. We fix 4 out of 5 vehicles at the roadside!
							a.Btn.Btn--shadow.Btn--gradient.Btn--chevron-right Buy now
		li.SiteNavigation__item.SiteNavigation__item--content-only Call <strong>0330 159 1111</strong> <br>for sales enquiries
