header.SiteHeader.SiteHeader--full
	include _site-ribbon
	.SiteHeader__inner
		a.SiteHeader__logo(href="/")
			span.SiteHeader__logo-inner
				img.SiteHeader__logo-image(src="/assets/rac-gradient.svg" alt="RAC")
		include _site-navigation
