footer.SiteFooter
	section.SiteFooter__top
		.SiteFooter__inner
			.row
				.col-xs-6.col-md-4
					h2.SiteFooter__title Company Information
					ul.SiteFooterLinks
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/about-us") About us
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="http://www.rac-careers.com") Careers
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/contact-us") Contact us
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/legal-information") Legal information
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/affiliates") Affiliates
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/press-centre") Press Centre
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/complaints") Complaints
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="http://www.raccorporate.co.uk") RAC corporate
				.col-xs-6.col-md-4
					h2.SiteFooter__title Products &amp; Services
					ul.SiteFooterLinks
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/breakdown-cover") Breakdown cover
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/insurace") Insurance
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/business") Business services
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/route-planner") Route planner
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="http://www.racshop.co.uk?_ga=2.124467337.209328974.1515158075-66183777.1507210756") RAC shop
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/myrac") MyRAC
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="https://www.racbenefits.co.uk?_ga=2.56897833.209328974.1515158075-66183777.1507210756") RAC member benefits
				.col-xs-12.col-md-4
					.row
						.SiteFooter__newsletter.col-xs-12.col-sm-6.col-md-12
							h2.SiteFooter__title Sign up for our newsletter
							include ../_NewsletterSignup
						.SiteFooter__social.col-xs-12.col-sm-6.col-md-12
							h2.SiteFooter__title Follow the RAC
							include ../_SocialButtons
			small.SiteFooter__call-charges 03 numbers are charged at national call rates and included in inclusive minute plans from landlines and mobiles. Calls may be monitored and/or recorded.
	section.SiteFooter__bottom
		.SiteFooter__inner
			.SiteFooter__terms
				h1 Important Information:
				h2 * Save up to £30 off Terms and Conditions
				ol
					li Offer available on selected personal based cover:
						ul 
							li Free At Home available when selecting Roadside &amp; National Recovery
							li Free Key Replace available when selecting At Home
					li Max £30 saving is based on a monthly policy over a 12 month period and is applicable to Personal based Roadside, National Recovery, At Home, Replacement Hire Car cover and Key Replace.
					li You must purchase RAC Breakdown cover direct from RAC by visiting www.rac.co.uk.
					li This offer is available to new RAC members and applies for the first year of membership only. Key Replace and At Home will become chargeable at renewal.
					li Not available to members amending or renewing an existing policy or on purchases during a breakdown situation.
					li Offer cannot be used in conjunction with any other offer and may be withdrawn at any time.
					li Excludes membership purchased via cash back sites and voucher code sites.
					li No cash or other alternatives available.
					li Excludes RAC Response (Blue Badge membership).
				p <sup>†</sup> The RAC will seek to recoup the cost of recovery from your insurer/3rd party insurer. You may be asked to pay if this isn’t possible
				p ^ Price for 1 day cover for up to 9 people travelling in a vehicle up to 1 year old in Zone 1
				p Breakdown cover arranged and administered by RAC Financial Services Limited (Registered No 05171817) and provided by RAC Motoring Services (Registered No 01424399) and/or RAC Insurance Ltd (Registered No 2355834). Registered in England; Registered Offices: RAC House, Brockhurst Crescent, Walsall WS5 4AW. RAC Motoring Services and RAC Financial Services Limited are authorised and regulated by the Financial Conduct Authority in respect of insurance mediation activities. RAC Insurance Ltd is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority.
			.row
				.col-xs-12.col-md-8
					ul.SiteFooterLinks.SiteFooterLinks--small
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/legal-information/privacy-policy") Privacy Policy
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/accessibility") Accessibility
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/about-us/cookie-policy") Cookie Policy
						li.SiteFooterLinks__item
							a.SiteFooterLinks__link(href="/site-map") Sitemap
				.col-xs-12.col-md-4.SiteFooter__copyright &copy; 2018 RAC Motoring Services. All rights reserved.
