.TPCarousel__container
	.TPCarousel(data-component="tp-carousel")
		.TPReview
			.TPReview__rating(style="background-image: url(/assets/trust-pilot/tp-stars-1.svg);")
			.TPReview__tp-logo(style="background-image: url(/assets/trust-pilot/logo.svg);")
			h3.TPReview__title &ldquo;RAC is a wonderful service&rdquo;
			p.TPReview__text RAC is a wonderful service, they cannot do enough to help, its such a great relief when they arrive and take the stress out of the situation.
			p.TPReview__reviewer Mrs. Harper
			p.TPReview__date 09 Nov 2018
		.TPReview
			.TPReview__rating(style="background-image: url(/assets/trust-pilot/tp-stars-2.svg);")
			.TPReview__tp-logo(style="background-image: url(/assets/trust-pilot/logo.svg);")
			h3.TPReview__title &ldquo;RAC is a wonderful service&rdquo;
			p.TPReview__text RAC is a wonderful service, they cannot do enough to help, its such a great relief when they arrive and take the stress out of the situation.RAC is a wonderful service, they cannot do enough to help, its such a great relief when they arrive and take the stress out of the situation.
			p.TPReview__reviewer Mrs. Harper
			p.TPReview__date 09 Nov 2018
		.TPReview
			.TPReview__rating(style="background-image: url(/assets/trust-pilot/tp-stars-3.svg);")
			.TPReview__tp-logo(style="background-image: url(/assets/trust-pilot/logo.svg);")
			h3.TPReview__title &ldquo;RAC is a wonderful service&rdquo;
			p.TPReview__text RAC is a wonderful service, 
			p.TPReview__reviewer Mrs. Harper
			p.TPReview__date 09 Nov 2018
		.TPReview
			.TPReview__rating(style="background-image: url(/assets/trust-pilot/tp-stars-4.svg);")
			.TPReview__tp-logo(style="background-image: url(/assets/trust-pilot/logo.svg);")
			h3.TPReview__title &ldquo;RAC is a wonderful service&rdquo;
			p.TPReview__text RAC is a wonderful service, they cannot do enough to help, its such a great relief when they arrive and take the stress out of the situation.RAC is a wonderful service, they cannot do enough to help, its such a great relief when they arrive and take the stress out of the situation.
			p.TPReview__reviewer Mrs. Harper
			p.TPReview__date 09 Nov 2018
		.TPReview
			.TPReview__rating.TPReview__img(style="background-image: url(/assets/trust-pilot/tp-stars-5.svg);")
			.TPReview__tp-logo.TPReview__img(style="background-image: url(/assets/trust-pilot/logo.svg);")
			h3.TPReview__title &ldquo;RAC is a wonderful service&rdquo;
			p.TPReview__text RAC is a wonderful service,
			p.TPReview__reviewer Mrs. Harper
			p.TPReview__date 09 Nov 2018
		.TPReview
			.TPReview__rating(style="background-image: url(/assets/trust-pilot/tp-stars-3.svg);")
			.TPReview__tp-logo(style="background-image: url(/assets/trust-pilot/logo.svg);")
			h3.TPReview__title &ldquo;RAC is a wonderful service&rdquo;
			p.TPReview__text RAC is a wonderful service, they cannot do enough to help, its such a great relief when they arrive and take the stress out of the situation.
			p.TPReview__reviewer Mrs. Harper
			p.TPReview__date 09 Nov 2018	
	button.TPCarousel__arrow.TPCarousel__arrow--left(type='button')
		include ../../../assets/chevron.svg
	button.TPCarousel__arrow.TPCarousel__arrow--right(type='button')
		include ../../../assets/chevron.svg
	.TPCarousel__dots
