link(rel="stylesheet" href="/static/styles/components/TPReviews.css")
link(rel="stylesheet" href="/static/styles/components/TPCarousel.css")
.TPReviews
	.Container
		h2.TPReviews__title We&rsquo;re recommended by 92% of our members
		include ./_TPCarousel
