link(rel="stylesheet" href="/static/styles/components/TPSkinny.css")
link(rel="stylesheet" href="/static/styles/components/TPStars.css")

.TPSkinny
	.TPSkinny__row.TPSkinny__row--TrustPilot
		.TPSkinny__block.TPSkinny__block--TrustPilot
			.TPSkinny__logo
	.TPSkinny__row.TPSkinny__row--Big3
		.TPSkinny__block.TPSkinny__block--RAC
			span.TPSkinny__text RAC
			.TPSkinny__rating.TPStars.TPStars--4
				include ../../../assets/trust-pilot/tp-stars.svg
		.TPSkinny__block.TPSkinny__block--AA
			span.TPSkinny__text AA
			.TPSkinny__rating.TPStars.TPStars--3
				include ../../../assets/trust-pilot/tp-stars.svg
		.TPSkinny__block.TPSkinny__block--GreenFlag
			span.TPSkinny__text Green Flag
			.TPSkinny__rating.TPStars.TPStars--2
				include ../../../assets/trust-pilot/tp-stars.svg			
