.QuoteCTA__overlay
	h1 UK Breakdown Cover
	p
		| Customise your cover<br>from&nbsp;
		span(style="color: #EF6C00;") &pound;4.50
		| &nbsp;a month
	a.Btn.Btn--gradient.Btn--chevron-right(href='#')
		span.QuoteCTA__btn-text Start your quote
		span.QuoteCTA__btn-suffix No need to register
	include _QuoteCTA__trustpilot
