.QuoteCTA__trustpilot
	include ../../../assets/trust-pilot/logo.svg
	.QuoteCTA__reviews.row
		.QuoteCTA__review.col-xs-4
			span.QuoteCTA__reviewee RAC
			.QuoteCTA__rating.TPStars.TPStars--4
				include ../../../assets/trust-pilot/tp-stars.svg
		.QuoteCTA__review.col-xs-4
			span.QuoteCTA__reviewee AA
			.QuoteCTA__rating.TPStars.TPStars--3
				include ../../../assets/trust-pilot/tp-stars.svg
		.QuoteCTA__review.col-xs-4
			span.QuoteCTA__reviewee Green Flag
			.QuoteCTA__rating.TPStars.TPStars--2
				include ../../../assets/trust-pilot/tp-stars.svg
	.QuoteCTA__updated Reviews correct as of 12 Nov 2018
