.QuoteCTA__features.row
	.QuoteCTA__feature.col-xs-12.col-md-4.col-lg-4.col-xl-4
		img(src='/assets/landing-page/fixing-car.jpg' alt='Man fixing car')
		h2 We&apos;ll get you moving again
		p We fix 4 out of 5 cars at the roadside, on average in 30 mins
	.QuoteCTA__feature.col-xs-12.col-md-4.col-lg-4.col-xl-4
		img(src='/assets/landing-page/taxi-home.jpg' alt='RAC offers a taxi home')
		h2 We won&rsquo;t leave you stranded
		p Only the RAC offers a taxi home if your car is taken to a garage for repair
	.QuoteCTA__feature.col-xs-12.col-md-4.col-lg-4.col-xl-4
		img(src='/assets/landing-page/car-battery.jpg' alt='Car battery')
		h2 No hidden costs
		p All roadside labour &amp; fitting costs included as standard
