extend ../../components/_masterSimpleNav

block content
    include ../../components/Site/_site-header
    .SiteWrapper(style="padding-top: 0")
        include ../../components/Sticky/_StickyMessage
        include ../../components/Quote/_QuoteCTA
        include ../../components/Cover/_CoverOptions
        include ../../components/TrustPilot/_TPReviews
        include ../../components/Sticky/_StickyMessageBottom
