extend ../../components/_masterSimpleNav
block content

	include ../../components/Site/_site-header
	main
		include ../../components/Banners/_banner-pbm-only-top
		include ../../components/TrustPilot/_TPSkinny
		include ../../components/BodymovinAnimation/_BMAnimation
		include ../../components/Serpentine/_Serpentines
		include ../../components/TrustPilot/_TPReviews
		include ../../components/Banners/_banner-pbm-only-bottom
