.OfferProduct {
	&__table {
		display: table;
	}

	&__cell {
		display: table-cell;
		vertical-align: middle;
	}

	&__title {
		@include offer-product-title-font-size;

		position: relative;
		margin: 0;

		color: $black;
	}

	&__description {
		margin: 0;
		color: $grey-2;
	}
}
