@import '../../../../styles/core-variables-and-helpers';

.PaymentFrequencyButtons--flex {
	@include breakpoint(tablet-landscape, up) {
		display: flex;
	}
}

.PaymentFrequencyBtn {
	$c: &;
	width: 100%;
	
	@include breakpoint(tablet, up) {
		margin-top: 0;
	}

	&:last-of-type {
		@include margin-bottom;
	}

	&__label {
		@include medium-weight;
	}

	&__price {
		@include normal-weight;

		@include breakpoint(tablet, up) {
			display: block;
		}
		@include breakpoint(tablet, down) {
			margin-left: 0.5em;
		}		

		&--monthlyInstallment {
			@include light-weight;
			@include fluid-property(font-size, 12px, 16px);
			@include fluid-property(line-height, 20px, 25px);
			display: block;
			margin-top: 0;
		}
	}

	&__installmentMessage {		
		display: block;
		margin-top: 0;
	}

	&--show-prices {
		@include pica;
	}

	&--wide-monthly,
	&--narrow-annual {
		display: block;
		max-width: 100%;

		#{$c}__price {
			@include breakpoint(tablet, down) {
				margin-left: 0;
			}
		}
	}

	&--wide-monthly {
		@include breakpoint(tablet-landscape, up) {
			width: 65%;
		}		
	}

	&--narrow-annual {
		@include breakpoint(tablet-landscape, up) {
			width: 30%;
			&, &:last-of-type {
				margin: 0;
			}
		}
		@include breakpoint(desktop, up) {
			&, &:last-of-type {
				margin: 0;
			}
		}
	}

	@include breakpoint(tablet, up) {
		&__price {
			display: block;

			float: none;
		}
	}
}
